extends ../main

block variables
	- var title = 'Главная страница';
	- var pageClass = 'home-page';

block content
	//- HERO
	+b.SECTION.section.hero
		.hero-slider-outer
			+b.hero-slider.heroSlider
				.swiper-wrapper
					+e.item.swiper-slide(style="background-image:url('img/lorem/hero.jpg');")
						+e.container
							+e.inner
								h1 Титулка
								+e.desc Опис. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								+b.A(link='').btn.btn_more Дізнатись більше
					+e.item.swiper-slide(style="background-image:url('img/lorem/hero2.jpg');")
						+e.container
							+e.inner
								h1 Титулка 2
								+e.desc Опис. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								+b.A(link='').btn.btn_more Дізнатись більше
					+e.item.swiper-slide(style="background-image:url('img/lorem/hero3.jpg');")
						+e.container
							+e.inner
								h1 Титулка 3
								+e.desc Опис. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								+b.A(link='').btn.btn_more Дізнатись більше
				.pagination.swiper-pagination

	//- ADVANTAGES
	+b.SECTION.advantages.section
		.container
			h3 Наші Переваги
			+e.inner
				+e.item
					+e.img
						include ../../static/img/svg/icons/tissue.svg
					+e.desc 30 000 <br/> Тканин у наявності
				+e.item
					+e.img
						include ../../static/img/svg/icons/earth.svg
					+e.desc 25 <br/> Країн світу - <br/> постачальники
				+e.item
					+e.img
						include ../../static/img/svg/icons/done.svg
					+e.desc Висока <br/> якість Товару
				+e.item
					+e.img
						include ../../static/img/svg/icons/car.svg
					+e.desc 150 000 <br/> Роздрібних замовлень
				+e.item
					+e.img
						include ../../static/img/svg/icons/clock.svg
					+e.desc 24/7 <br/> Служба Підтримки
				+e.item
					+e.img
						include ../../static/img/svg/icons/people.svg
					+e.desc 15 000 <br/>Постійних Клієнтів

	//- BESTSELLERS
	+b.SECTION.main-goods.main-goods_bestsellers.section.section_bg
		.container
			+e.top
				h2 Топ Продажу
				a(href="").viev-more Дивитись Всі
		+e.bottom
			.container
				+b.doogs-bestsellers-slider.doogs-slider.doogsBestsellersSlider
					.swiper-wrapper
						+b.card.swiper-slide
							+e.label.card__label_best Топ продажу
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_1.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.A(HREF="").title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_best Топ продажу
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_2.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.A(HREF="").title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_best Топ продажу
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_3.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.A(HREF="").title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_best Топ продажу
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_4.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.A(HREF="").title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_best Топ продажу
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_1.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.A(HREF="").title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_best Топ продажу
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_2.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.A(HREF="").title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_best Топ продажу
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_3.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.A(HREF="").title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_best Топ продажу
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_4.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.A(HREF="").title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
					.arr.arr_prev
						include ../../static/img/svg/icons/arrow.svg
					.arr.arr_next
						include ../../static/img/svg/icons/arrow.svg

	//- RATING
	+b.SECTION.main-goods.main-goods_rating.section
		.container
			+e.top
				h2 Кращі Товари по Рейтингу
				a(href="").viev-more Дивитись Всі
		+e.bottom
			.container
				+b.doogs-rating-slider.doogs-slider.doogsRatingSlider
					.swiper-wrapper
						+b.card.swiper-slide
							+e.label.card__label_star
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_1.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_star
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_2.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_star
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_3.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").colo.activer(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_star
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_4.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_star
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_5.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_star
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_6.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_star
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_7.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_star
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
								span.active
									include ../../static/img/svg/icons/star.svg
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_8.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
					.arr.arr_prev
						include ../../static/img/svg/icons/arrow.svg
					.arr.arr_next
						include ../../static/img/svg/icons/arrow.svg

	//- NEW
	+b.SECTION.main-goods.main-goods_new.section.section_bg
		.container
			+e.top
				h2 Новинки
				a(href="").viev-more Дивитись Всі
		+e.bottom
			.container
				+b.doogs-new-slider.doogs-slider.doogsNewSlider
					.swiper-wrapper
						+b.card.swiper-slide
							+e.label.card__label_new Новинка
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_1.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_new Новинка
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_2.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_new Новинка
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_3.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_new Новинка
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_4.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_new Новинка
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_5.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_new Новинка
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_6.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_new Новинка
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_7.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
						+b.card.swiper-slide
							+e.label.card__label_new Новинка
							+e.A(HREF="").img(style="background-image:url('img/lorem/card_8.jpg');")
							+e.info
								+e.art Артикул
									span 1234
								+e.title Двоспальний Комплект постільної білизни "Камея"
								+e.desc Красивий та зручний постільний набір
								+e.price 397.00 грн
							+e.buynow
								+e.block1 Купити в один клік
								+e.block2
									+e.A(HREF="").color(style="background-image:url('img/lorem/color1.png');" data-img="url('img/lorem/card_7.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color2.png');" data-img="url('img/lorem/card_1.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color3.png');" data-img="url('img/lorem/card_3.jpg")
									+e.A(HREF="").color.active(style="background-image:url('img/lorem/color4.png');" data-img="url('img/lorem/card_4.jpg")
									+e.A(HREF="").color(style="background-image:url('img/lorem/color5.png');" data-img="url('img/lorem/card_5.jpg")
							+e.A(HREF="").add Додати до кошика
					.arr.arr_prev
						include ../../static/img/svg/icons/arrow.svg
					.arr.arr_next
						include ../../static/img/svg/icons/arrow.svg

	//- NEWS
	+b.SECTION.news.section
		.container
			+e.top
				h2 Новини
				a(href="").viev-more Дивитись Всі
			+e.inner
				+b.news-item
					+e.A(HREF="").img(style="background-image:url('img/lorem/card_news.jpg');")
					+e.info
						+e.date Дата
						+e.A(HREF).title Назва
						+e.desk Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...
						+e.A(HREF).more Читати більше
				+b.news-item
					+e.A(HREF="").img(style="background-image:url('img/lorem/card_news.jpg');")
					+e.info
						+e.date Дата
						+e.A(HREF).title Назва
						+e.desk Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...
						+e.A(HREF).more Читати більше

	//- SUBSCRIBE
	+b.SECTION.subscribe.section.section_bg
		.container
			+e.top
				h2 Підписатися на актуальні розсилки
				+e.text Будьте в курсі нових подій та спеціальних пропозицій
			+e.form-outer
				+b.FORM(action="/" method="POST").subscribe-form.sendForm(novalidate)
					.form-item
						input(type="text" name="fio")
						label Ім'я
					.form-item
						input(type="text" name="company")
						label Компанія
					.form-item.valid
						input(type="email" name="email")
						label email
							span *
					.form-action
						button.form-btn(type="submit") Підписатися
				+e.info * - обов’язкове поле для заповнення

