.footer
	padding 28px 0 20px
	background #000
	&__row
		-webkit-justify-content space-between
		justify-content space-between
		-webkit-align-items flex-start
		align-items flex-start
		display flex
		margin-bottom 40px
	&__col
		width 24%
	a
		display block
		text-decoration none
		color #C4C4C4
		transition color .3s ease
		line-height 1.2
		&:hover
			color #FFF
	&__title
		display block
		text-transform uppercase
		margin-bottom 15px
	.switcher
		margin-bottom 25px
		span
			color #C4C4C4
	.socials_footer
		-webkit-justify-content flex-start
		justify-content flex-start
		a
			margin-right 18px
		.svg_social
			fill #C4C4C4
	small
		color rgba(255, 255, 255, 0.3);
		display block
		pointer-events none
		text-align center
		font-size 1rem

