// ЦВЕТА
$hover = #081eba
$color = rgba(0, 0, 0, 0.5)
$hc = blue

// РАЗМЕРЫ
$baseFontSize = 14px
$cw = 1370px


// ШРИФТЫ
$ff = 'Roboto', sans-serif;

// anim
$anim1 =   cubic-bezier(0.645, 0.045, 0.355, 1)



// media
$xxs = "(max-width: 320px)"
$xs = "(max-width: 480px)"
$sm = "(max-width: 768px)"
$md = "(max-width: 1100px)"
$lg = "(max-width: 1240px)"
$xlg = "(max-width: 1700px)"



/* == media == */
// @media $xlg

// @media $lg

// @media $md

// @media $sm

// @media $xs
