include _assets/mixins
include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include include/head
include include/header
include include/slider
include include/form
include include/popup
include include/footer
include include/foot

block variables

doctype html
html(lang="ru-RU")
	block head
		+head()

	body(class=pageClass)
		+b.preloader#preloader
			+e.loader
				<img src="img/logo.png" alt=""/>
		.wrapper
			block header
				+header()

			block content
				div content

			block footer
				+footer()

		block foot
			+foot()

		block script
